In [3]:
import pytest
from pathlib import Path
import pandas as pd
import numpy as np

col_names = [
    "timestamp",
    "store_name",
    "customer_name",
    "products",
    "total_price",
    "payment_method",
    "card_number"
]

file_path = "data/mockFile.csv"

def turn_file_into_dataframe(file_path : str,*col_names : list) -> pd.DataFrame:

    df = pd.read_csv(Path(file_path), names=col_names)
    df.head()
    return df

turn_file_into_dataframe(file_path, col_names)

,timestamp,store_name,customer_name,products,total_price,payment_method,card_number
0,25/08/2021 09:00,Chesterfield,Richard Copeland,Regular Flavoured iced latte - Hazelnut - 2.75...,5.20,CARD,5.494174e+15
1,25/08/2021 09:02,Chesterfield,Scott Owens,"Large Flavoured iced latte - Caramel - 3.25, R...",17.30,CARD,6.844802e+15
2,25/08/2021 09:04,Chesterfield,Francis Strayhorn,"Large Flat white - 2.45, Regular Latte - 2.15",4.60,CARD,9.557104e+15
3,25/08/2021 09:06,Chesterfield,Rodney Drake,"Regular Flavoured latte - Hazelnut - 2.55, Lar...",5.00,CARD,2.978328e+15
4,25/08/2021 09:08,Chesterfield,Michael Sparrow,"Regular Latte - 2.15, Large Latte - 2.45",4.60,CASH,NaN
...,...,...,...,...,...,...,...
263,25/08/2021 16:45,Chesterfield,Juan Bender,"Large Flavoured iced latte - Vanilla - 3.25, L...",14.35,CARD,5.986749e+15
264,25/08/2021 16:49,Chesterfield,Jose Hajduk,"Large Flavoured latte - Hazelnut - 2.85, Large...",6.10,CASH,NaN
265,25/08/2021 16:52,Chesterfield,Sharon Campanelli,"Large Flavoured iced latte - Hazelnut - 3.25, ...",10.70,CASH,NaN
266,25/08/2021 16:56,Chesterfield,Henry Frew,Regular Flavoured latte - Hazelnut - 2.55,2.55,CASH,NaN
267,25/08/2021 16:59,Chesterfield,David Ornelas,Large Flat white - 2.45,2.45,CASH,NaN

In [4]:





#happy path

#Reads file with headers, returns a frame with headers
def test_file_has_headers():
    file_path = "data/mockFile.csv"
    assert type(turn_file_into_dataframe(file_path)) == pd.DataFrame
        
        
    
    

#Reads file with no headers, returns a frame with headers



#unhappy path

#Reads file, file is empty